langchain
openai
tiktoken
python-dotenv
ddgs
chromadb
faiss-cpu
langchain-community
pypdf
dashscope
streamlit
langchain-chroma
requests
beautifulsoup4
matplotlib
seaborn
pandas
numpy
biopython
pubmed-lookup
scholarly
arxiv
semanticscholar
crossref-commons